/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/03/2017, 09:21:54 AM
    Author     : Herman
*/

.row > .caja_balance_item {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#49c0f0+0,2cafe3+100;Blue+3D+%2311 */
    background: #49c0f0; /* Old browsers */
    background: -moz-linear-gradient(top, #49c0f0 0%, #2cafe3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #49c0f0 0%,#2cafe3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #49c0f0 0%,#2cafe3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49c0f0', endColorstr='#2cafe3',GradientType=0 ); /* IE6-9 */
    border: 0 solid #ccc;
    -webkit-box-shadow: 2px 2px 2px 0 #999;
    -moz-box-shadow: 2px 2px 2px 0 #999;
    -ms-box-shadow: 2px 2px 2px 0 #999;
    -o-box-shadow: 2px 2px 2px 0 #999;
    box-shadow: 2px 2px 2px 0 #999;
    float: left;
    margin: 5px;
    min-height: 100px;
    min-width: 115px;
    text-transform: uppercase;
}
#caja_contenedor{
    background: #fff none repeat scroll 0 0;
    padding: 1%;
}

.container-fluid #form_nueva_caja {
    background: #fdfdfd none repeat scroll 0 0;
    -webkit-box-shadow: 1px 15px 120px 1px #999 inset;
    -moz-box-shadow: 1px 15px 120px 1px #999 inset;
    -ms-box-shadow: 1px 15px 120px 1px #999 inset;
    -o-box-shadow: 1px 15px 120px 1px #999 inset;
    box-shadow: 1px 15px 120px 1px #999 inset;
    float: left;
    margin: 2% 0 0;
    padding: 1%;
    width: 260px;
}

#caja_contenedor .caja_balance_item > p {
    background: rgba(250, 250, 250, 0.9) none repeat scroll 0 0;
    padding: 0 3px;
}
.col-xs-6.col-sm-4.col-md-3.col-lg-1.caja_balance_item > label {
    height: 50px;
    margin: 10px 0;
}